<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ML API</title>
</head>
<body>
    <div class="login">
        <div class="left-pane">
            <img src="{{ saved_image }}" alt="Saved Image">
        </div>
        <h1>Telecom Churn Prediction Analysis</h1>
        <!-- Main Input Form For Receiving Query to our ML Model -->
        <form action="{{ url_for('predict')}}" method="post">

	<label for="gender">Enter Gender Value (Female=0/Male=1):</label>
        <input type="number" id="gender" name="gender" min="0" max="1" value="1"><br><br>

        <label for="multi_screen">Enter multi_screen Value (no=0/yes=1):</label>
        <input type="number" id="multi_screen" name="multi_screen" min="0" max="1" value="0"><br><br>

        <label for="mail_subscribed">Enter mail_subscribed Value (no=0/yes=1):</label>
        <input type="number" id="mail_subscribed" name="mail_subscribed" min="0" max="1" value="0"><br><br>

        <label for="age">Enter age Value:</label>
        <input type="number" id="age" name="age" min="18" max="82" value="37" step="1"><br><br>

        <label for="no_of_days_subscribed">Enter no_of_days_subscribed Value:</label>
        <input type="number" id="no_of_days_subscribed" name="no_of_days_subscribed" min="1" max="243" value="99" step="1"><br><br>

        <label for="weekly_mins_watched">Enter weekly_mins_watched Value:</label>
        <input type="number" id="weekly_mins_watched" name="weekly_mins_watched" min="0" max="526" value="269" step="1"><br><br>

        <label for="minimum_daily_mins">Enter minimum_daily_mins Value:</label>
        <input type="number" id="minimum_daily_mins" name="minimum_daily_mins" min="0" max="20" value="10" step="1"><br><br>

        <label for="weekly_max_night_mins">Enter weekly_max_night_mins Value:</label>
        <input type="number" id="weekly_max_night_mins" name="weekly_max_night_mins" min="42" max="175" value="100" step="1"><br><br>

        <label for="videos_watched">Enter videos_watched Value:</label>
        <input type="number" id="videos_watched" name="videos_watched" min="0" max="19" value="4" step="1"><br><br>

        <label for="customer_support_calls">Enter customer_support_calls Value:</label>
        <input type="number" id="customer_support_calls" name="customer_support_calls" min="0" max="9" value="1" step="1"><br><br>

        <button style="width: 100px; height: 60px;"> Predict</button> <br> <br>
        </form>
        <!-- Display Predicted Salary Text -->
        <br>
        <br>
        <h1>{{ prediction_text }}</h1>
    </div>
</body>
</html>
